// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Basic styles for links

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

header {
  text-align: left;
  width: 100%;
  margin-top: 2rem;

  .logo {
    width: 43%;
  }
}

main {
  //margin: 3.8em 1em 4.5rem 1em;

  img {
    width: 100%;
    height: auto;
    //margin-bottom: 3.8rem;
  }
}

