// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  grid-column: span 3;
  //padding: 30px;
  height: 20vh;
  //text-align: center;
  background-color: #690;
  //color: white;
}

.footer__links {
  display: flex;
}
